html,
body {
    padding: 0;
    margin: 0;
}

.categoriesList {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.categoriesList li {
    display: inline-block;
    margin: 0 20px;
}

.categoriesList li a {
    text-decoration: none;
}

.categoriesList li.active a {
    font-weight: bold;
}

.postsList li {
    margin: 0 0 0 20px;
}

.meta {
    text-align: right;
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 15px;
}

.meta span {
    display: inline-block;
    margin: 0 10px;
}

.postsList {
    margin-top: 20px;
}

.postsList td,
.postsList th {
    text-align: left;
    padding: 0 10px;
}

.postsList td:first-of-type,
.postsList th:first-of-type {
    padding-left: 0;
}

.postsList td:last-of-type,
.postsList th:last-of-type {
    padding-right: 0;
}

.postDetails {
    background-color: #ebebeb;
    padding: 20px 30px;
}

.postComments {
    padding: 0 30px;
}

.buttonControl {
    border: 0;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
    margin: 0 5px;
}

.newPostFormContainer,
.commentsForm,
.inlineCommentsForm {
    background: #ebebeb;
}

.newPostFormContainer,
.listContent,
.commentsForm {
    padding: 20px 30px;
}

form label {
    display: block;
    line-height: 30px;
    font-size: 12px;
}

input,
textarea,
select {
    width: 300px;
}

.newPostFormContainer textarea {
    height: 100px;
}

.inlineCommentsForm {
    padding: 20px 20px 30px;
    margin-bottom: 30px;
}

nav {
    padding: 10px 30px;
}

.addNewPostLink {
    margin-left: 30px;
}